* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.header {
  /* border: 1px solid red; */
  margin-left: 4rem;
  font-size: bold;
  font-weight: 700;
}
.container {
  /* border: 1px solid red; */
  background-color: rgb(243, 240, 240);
}
.filter {
  /* border: 1px solid red; */
  height: 80px;
}
.search {
  /* border: 1px solid red; */
  border: 0;
  width: 20rem;
  height: 2.5rem;
  margin-left: 3.8rem;
  margin-top: 1rem;
  padding: 1rem;
}
.select {
  padding: 1rem;
  width: 12rem;
  height: 3.5rem;
  padding-left: 1rem;
  position: absolute;
  left: 80%;
  margin-top: 1rem;
  border: 0;
}
.column {
  width: 250px;
  padding: 0 10px;
  margin: 2rem;
}

.row {
  margin: 0 auto;
  width: 1300px;
  display: flex;
  flex-wrap: wrap;
}
.card img {
  width: 230px;
  margin-left: -16px;
  margin-top: -16px;
  height: 100px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.detaisl-wrapper {
  display: flex;
  flex-direction: row;
}
.button button {
  border: 0;
  width: 10rem;
  height: 2.5rem;
  margin-left: 3.8rem;
  margin-top: 1rem;
  padding: 1rem;
}

.details-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
